.game {
  display: flex;
  flex-direction: row;
}

.game-board{
  width: 113px;
  height: 200px;
  background-color: yellow;
  align-content: center;
}

.game-info {
  width: 100px;
  background-color: yellowgreen;
  
}
